{% extends 'base.html.twig' %}

{% block title %}New Parents{% endblock %}

{% block body %}
    <h3 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Déterminer ou Enregistrer de nouveaux parents</h3>

    {{ include('parents/_form.html.twig') }}

    <a href="{{ path('app_parents_index') }}">back to list</a>
{% endblock %}
